# Exercise 1

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [2]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.


    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

### Q1: 埼玉県で一番小さい面積の市町村を調べる

In [3]:
### Q1: 埼玉県で一番小さい面積の市町村を調べる
sql = """
SELECT name_2 as city_name, 
       st_area(geom::geography)/1000000 as area_km2 
FROM adm2 
WHERE name_1='Saitama' 
ORDER BY area_km2 ASC 
LIMIT 1;
"""
out = query_pandas(sql, 'gisdb')
print(out)

  city_name  area_km2
0    Warabi  6.587194

### Q2. 都道府県ごとに一番大きい面積を有する市町村を調べる

In [4]:
### Q2. 都道府県ごとに一番大きい面積を有する市町村を調べる
sql = """
WITH area_calc AS (
    SELECT 
        name_1 as prefecture,
        name_2 as city_name,
        st_area(geom::geography)/1000000 as area_km2,
        ROW_NUMBER() OVER (PARTITION BY name_1 ORDER BY st_area(geom::geography) DESC) as rank
    FROM adm2
)
SELECT 
    prefecture,
    city_name,
    area_km2
FROM area_calc
WHERE rank = 1
ORDER BY area_km2 DESC;
"""
out = query_pandas(sql, 'gisdb')
print(out)

   prefecture      city_name     area_km2
0        Gifu       Takayama  2173.869108
1    Shizuoka      Hamamatsu  1502.644477
2     Tochigi          Nikkō  1444.964660
3    Hokkaido         Ashoro  1406.101261
4    Yamagata       Tsuruoka  1343.268161
5      Toyama         Toyama  1255.339885
6       Akita      Yurihonjō  1236.171305
7   Hiroshima        Shōbara  1233.377442
8   Fukushima          Iwaki  1212.132562
9     Niigata       Murakami  1183.739695
10      Iwate     Ichinoseki  1139.296242
11   Wakayama      Kyōtanabe  1049.130028
12     Nagano      Matsumoto   943.137861
13      Aichi         Toyota   914.965700
14       Oita          Saiki   908.719706
15      Fukui            Ōno   878.521299
16  Yamaguchi        Iwakuni   867.025699
17     Aomori          Mutsu   862.180065
18   Miyazaki        Nobeoka   856.952041
19      Kyoto          Kyoto   842.330823
20    Okayama         Maniwa   837.347796
21   Kumamoto        Amakusa   804.547532
22     Miyagi       Kurihara   797.118964
23      Gunma       Minakami   774.454536
24    Tottori        Tottori   768.715239
25   Ishikawa        Hakusan   761.147583
26    Shimane         Masuda   748.077773
27   Naoasaki       Tsushima   733.059993
28  Tokushima        Miyoshi   722.317614
29  Kagoshima  Satsumasendai   712.877024
30      Hyōgo        Toyooka   694.876368
31        Mie            Tsu   687.502311
32      Shiga      Lake Biwa   685.857751
33       Nara      Totsukawa   666.678657
34      Kochi       Shimanto   635.662023
35  Yamanashi         Hokuto   603.419951
36      Ehime      Kumakōgen   582.493890
37    Saitama       Chichibu   580.613825
38       Saga        Karatsu   493.344521
39    Fukuoka     Kitakyūshū   484.535131
40   Kanagawa       Yokohama   423.085754
41     Kagawa      Takamatsu   386.483827
42    Ibaraki     Hitachiōta   373.051040
43      Chiba       Ichihara   372.896963
44    Okinawa       Taketomi   339.033935
45      Tokyo        Okutama   225.667984
46      Osaka          Osaka   222.338895

### Q3. 都道府県ごとに市町村の総数が多い順に並べる

In [5]:
### Q3. 都道府県ごとに市町村の総数が多い順に並べる
sql = """
SELECT 
    name_1 as prefecture,
    COUNT(*) as total_municipalities
FROM adm2
GROUP BY name_1
ORDER BY total_municipalities DESC;
"""
out = query_pandas(sql, 'gisdb')
print(out)

   prefecture  total_municipalities
0    Hokkaido                   180
1      Nagano                    82
2     Saitama                    70
3     Fukuoka                    66
4       Aichi                    64
5   Fukushima                    60
6       Chiba                    56
7       Tokyo                    53
8    Kumamoto                    48
9   Kagoshima                    46
10    Ibaraki                    45
11      Osaka                    43
12       Gifu                    43
13   Shizuoka                    43
14    Okinawa                    42
15      Hyōgo                    41
16     Aomori                    40
17       Nara                    39
18      Gunma                    38
19     Miyagi                    36
20      Kochi                    35
21   Yamagata                    35
22      Iwate                    35
23   Kanagawa                    33
24    Niigata                    31
25    Tochigi                    31
26    Okayama                    30
27   Miyazaki                    30
28   Wakayama                    29
29  Yamanashi                    28
30        Mie                    28
31      Shiga                    27
32      Kyoto                    26
33      Akita                    25
34  Tokushima                    24
35   Naoasaki                    23
36  Hiroshima                    23
37    Shimane                    22
38       Saga                    20
39      Ehime                    20
40  Yamaguchi                    20
41   Ishikawa                    19
42       Oita                    18
43    Tottori                    18
44      Fukui                    17
45     Toyama                    15
46     Kagawa                    14

### Q4. 都道府県ごとに村の総数が多い順に並べる

In [6]:
### Q4. 都道府県ごとに村の総数が多い順に並べる
sql = """
SELECT 
    name_1 as prefecture,
    COUNT(CASE WHEN type_2 = 'Mura' THEN 1 END) as total_villages
FROM adm2
GROUP BY name_1
ORDER BY total_villages DESC;
"""
out = query_pandas(sql, 'gisdb')
print(out)

   prefecture  total_villages
0      Nagano              34
1     Okinawa              16
2    Hokkaido              15
3   Fukushima              13
4        Nara              11
5    Kumamoto               8
6      Aomori               7
7       Iwate               6
8   Yamanashi               6
9     Fukuoka               4
10      Kochi               4
11      Gunma               4
12      Akita               3
13    Niigata               3
14  Kagoshima               2
15      Aichi               2
16        Mie               2
17       Gifu               2
18    Okayama               2
19   Miyazaki               2
20    Ibaraki               2
21    Shimane               1
22    Tottori               1
23  Tokushima               1
24     Toyama               1
25      Kyoto               1
26       Oita               1
27      Osaka               1
28      Hyōgo               0
29     Kagawa               0
30   Ishikawa               0
31      Shiga               0
32     Miyagi               0
33    Tochigi               0
34       Saga               0
35      Fukui               0
36      Ehime               0
37   Wakayama               0
38   Yamagata               0
39   Naoasaki               0
40      Tokyo               0
41  Yamaguchi               0
42   Shizuoka               0
43   Kanagawa               0
44  Hiroshima               0
45    Saitama               0
46      Chiba               0