In [3]:
# F5. 埼玉県内の全鉄道駅の2020年4月（休日・昼間）の人口を、大きい順に並べ、最初の10件を示せ。

import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.
    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.
    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """
    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)
    df = pd.read_sql(sql=sql, con=conn)
    return df

sql = """
    WITH
        pop2020 AS (
            SELECT p.name, d.year, d.month, d.prefcode, d.population, p.geom
            FROM pop AS d
            INNER JOIN pop_mesh AS p
                ON p.name = d.mesh1kmid
            WHERE d.dayflag='0' AND
                d.timezone='0' AND
                d.year='2020' AND
                d.month='04' AND
                d.prefcode='11'
            ),
        station AS (
            SELECT DISTINCT pt.name, pt.way
            FROM planet_osm_point pt
            WHERE pt.railway='station' AND
                pt.name IS NOT NULL
            )
    SELECT station.name, SUM(pop2020.population) AS population 
    FROM station
    INNER JOIN pop2020
        ON st_within(station.way,st_transform(pop2020.geom, 3857))
    GROUP BY station.name
    ORDER BY population DESC
    LIMIT 10
"""

out = query_pandas(sql,'gisdb')
print(out)

   name  population
0    大宮    112490.0
1    川口     43673.0
2    川越     33884.0
3   和光市     30682.0
4   東川口     28176.0
5  武蔵浦和     26397.0
6     蕨     26308.0
7   西川口     25977.0
8    所沢     24941.0
9    浦和     23675.0